html{
	background-image: url("A-SOUL1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

form{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#tip{
	color: white;
	font-family: 千图纤墨体;
	font-size: 15px;
}

#timegreeting{
	color: white;
	font-family: 千图纤墨体;
	font-size: 25px;
}

#cim{
	color: white;
	font-family: 千图纤墨体;
	font-size: 10px;
}

#bme{
	border: none;
	outline: none;
	border-radius: 20px;
	background-color: #10294C;
	color: white;
	transition: background-color 1s , box-shadow 1s;
	height: 50px;
	width: 75px;
	margin: 0;
    font-family: 千图纤墨体;
}

#bme:hover{
	border: none;
	outline: none;
	border-radius: 20px;
	background-color: black;
	color: white;
	height: 50px;
	width: 75px;
	margin: 0;
    font-family: 千图纤墨体;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.19);  /*阴影*/
}

input[type=text]{
	background-color: #10294C;
	color: white;
	border: none;
	border-radius: 20px;
	outline: none;
	text-align: center;
	margin: 5px;
	height: 50px;
	width: 300px;
	transition: background-color 1s , box-shadow 1s;  /*当XX属性发生改变时，以x秒进行过渡*/
}

input[type=text]:hover{
	background-color: black;
	color: white;
	border: none;
	border-radius: 20px;
	outline: none;
	text-align: center;
	margin: 5px;
	height: 50px;
	width: 300px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.19);  /*阴影*/
}